<svg width="0" height="0" style="position:absolute">
  <defs>
    <symbol id="i-home" viewBox="0 0 16 16">
      <path d="M1 7 L8 1 L15 7 V15 H10 V10 H6 V15 H1 Z"/>
    </symbol>
    <symbol id="i-square" viewBox="0 0 16 16">
      <path d="M2 2 H14 V14 H2 Z"/>
    </symbol>
    <symbol id="i-dog" viewBox="0 0 16 16">
      <path d="M2 5h4v4H2zM5 4l2 1-2 1zM6 6h2v2H6zM6 9h6v3H6zM6 12h2v3H6zM11 12h2v3h-2zM12 9l3-2v2z"/>
    </symbol>
    <symbol id="i-contact" viewBox="0 0 16 16">
      <path d="M1 3 H15 V13 H1 Z M2 4 L8 8 L14 4 Z"/>
    </symbol>
    <symbol id="i-games" viewBox="0 0 16 16">
      <path d="M2 6 h12 v6 H2 Z M4 8 h2 v2 H4 Z M10 8 h2 v2 h-2 Z M7 5 h2 v1 H7 Z"/>
    </symbol>
    <symbol id="i-devlog" viewBox="0 0 16 16">
      <path d="M3 2 h10 v12 H3 Z M5 4 h6 v1 H5 Z M5 6 h6 v1 H5 Z M5 8 h4 v1 H5 Z"/>
    </symbol>
    <symbol id="i-links" viewBox="0 0 16 16">
      <path d="M6 4 h-2 a3 3 0 0 0 0 6 h2 M10 12 h2 a3 3 0 0 0 0-6 h-2 M5 8 h6"/>
    </symbol>
    <symbol id="i-guestbook" viewBox="0 0 16 16">
      <path d="M2 3 h10 v10 H2 Z M12 3 h2 v10 h-2 Z M4 5 h6 v1 H4 Z M4 7 h5 v1 H4 Z"/>
    </symbol>
    <symbol id="i-person" viewBox="0 0 16 16">
      <path d="M6 2h4v4H6z M5 7h6v4H5z M4 11h3v3H4z M9 11h3v3H9z"/>
    </symbol>
    <symbol id="i-music" viewBox="0 0 16 16">
      <path d="M9 1h2v8H9z M11 1h3v3h-3z M6 9h5v4H6z"/>
    </symbol>
    <symbol id="i-moon" viewBox="0 0 16 16">
      <path d="M9 1a6 6 0 1 0 6 6A5 5 0 0 1 9 1z"/>
    </symbol>
  </defs>
</svg>