<div class="marquee-container window">
  <div class="titlebar">
    <svg class="icon pixel" aria-hidden="true"><use href="#i-dog"/></svg>
    <span>sites featuring my doggy</span>
    <div class="icons"><span class="dot"></span><span class="dot"></span><span class="dot"></span></div>
  </div>
  <div class="marquee-track" id="marq-track"></div>
</div>