<div class="marquee-container window">
  <div class="titlebar">
    <img src="/assets/icons/tama.png" alt="tamagotchi">
    <span>sites featuring my doggy</span>
    {% include "components/window-buttons.njk" %}
  </div>
  <div class="marquee-track" id="marq-track"></div>
</div>