<section class="window">
  <div class="titlebar">
    <img src="/assets/icons/planet.png" alt="planet">
    <span>Link to me!</span>
    {% include "components/window-buttons.njk" %}
  </div>
  <div class="content">
    <img src="https://ginacities.com/assets/banners/GinaCities.gif" alt="GinaCities banner" loading="lazy" width="88" height="30">
    <textarea><a href="https://ginacities.com"><img src="https://ginacities.com/assets/banners/GinaCities.gif" alt="GinaCities banner"></a></textarea>
  </div>
</section>

{% include "components/socials.njk" %}