---
layout: layouts/base.njk
title: GinaCities
---

<section id="home" class="window">
  <div class="titlebar">
    <svg class="icon pixel" aria-hidden="true"><use href="#i-home"/></svg>
    <span>home</span>
    <div class="icons"><span class="dot"></span><span class="dot"></span><span class="dot"></span></div>
  </div>
  <div class="content">
    <div class="card">
      <p>hello! welcome to my tiny pastel corner of the web. As you can probably tell, I really miss the early internet days of Geocities, MySpace, Neopets etc etc. I have tried to create that here, in my own small dedicated space. 🌙🍵</p>
      <p>I have recently taken up the hobby of game development. I've been having a lot of fun and it has been very rewarding. Please see <a href="https://ginacities.itch.io" data-umami-event="Clicked Itch.io" data-umami-event-platform="Itch.io" data-umami-event-location="GinaCities Hero Section" target="_blank">my Itch page</a> to view my games.</p>
    </div>
  </div>
</section>


<section class="window">
  <div class="titlebar">
    <svg class="icon pixel" aria-hidden="true"><use href="#i-dog"/></svg>
    <span>My pet doggy</span>
    <div class="icons"><span class="dot"></span><span class="dot"></span><span class="dot"></span></div>
  </div>
  <div class="game-scene">
    <iframe id="dogIframe" src="https://ginacities.com/doggy/?embed=1&dog=Corgi&variant=0&room=cute" width="324" height="324" style="border:0; aspect-ratio: 1 / 1;" allow="gamepad *"></iframe>
    <div class="game-text content">
      <p>I did it! I finally made my first game in Godot, it's a very simple ambient doggy that wanders around, sits down, sleeps and entertains itself.</p>
      <p>The doggy will just happily live on your page, you can click on them for love, and their food and water can run out, you can click it to top it up, but no harm will ever come to them.</p>
      <p>If you'd like your own doggy then click the cog in the top right, go back to the menu and select your own dog and room of choice. Then come back to the cog and embed them using the code onto your own page.</p>
      <p>I hope it brings you joy!</p>
    </div>
  </div>
</section>
