---
layout: layouts/minimal.njk
title: GinaCities Links
description: GinaCities social media link page
---


  <section class="window links-card">
    <div class="titlebar">
      <img src="/assets/icons/planet.png" alt="planet">
      <span>Links</span>
      {% include "components/window-buttons.njk" %}
    </div>
    <div class="content">
      <div class="card">
      <header class="site-links">
      <div id="logo">
        <div class="title">GinaCities</div>
        <div class="subtitle">Gina's Link Page</div>
      </div>
    </header>
        {# <p class="meta">👩🏽‍💻 BBC News • 👾 game dev • 💾 retro web vibes</p> #}

        <nav class="links" aria-label="Links">
          <a data-umami-event="Clicked Potion Puzzle Shop" data-umami-event-location="GinaCities Links" class="pill" href="https://ginacities.itch.io/potion-puzzle-shop" target="_blank" rel="noopener"><img src="/assets/icons/book.png" class="nav-icon" alt="spellbook"> Play Potion Puzzle Shop</a>
          <a data-umami-event="Clicked GinaCities.com" data-umami-event-location="GinaCities Links" class="pill" href="https://ginacities.com" target="_blank" rel="noopener"><img src="/assets/icons/flower_smiley.png" class="nav-icon" alt="smiley flower"> My Website </a>
          <a data-umami-event="Clicked YouTube" data-umami-event-location="GinaCities Links" class="pill" href="https://www.youtube.com/@ginacities" target="_blank" rel="noopener"><img src="/assets/icons/tarot.png" class="nav-icon" alt="tarot cards"> Watch my YouTube videos</a>
          <a data-umami-event="Clicked Instagram" data-umami-event-location="GinaCities Links" class="pill" href="https://www.instagram.com/ginacities/" target="_blank" rel="noopener"><img src="/assets/icons/phone.png" class="nav-icon" alt="flip phone"> Instagram</a>
          <a data-umami-event="Clicked TikTok" data-umami-event-location="GinaCities Links" class="pill" href="https://www.tiktok.com/@ginacities" target="_blank" rel="noopener"><img src="/assets/icons/glasses.png" class="nav-icon" alt="glasses"> TikTok</a>
          <a data-umami-event="Clicked BlueSky" data-umami-event-location="GinaCities Links" class="pill" href="https://bsky.app/profile/ginacities.com" target="_blank" rel="noopener"><img src="/assets/icons/butterfly.png" class="nav-icon" alt="butterfly"> Bluesky</a>
        </nav>

        <div class="links-footer">
          <img src="/assets/icons/tama.png" class="nav-icon" alt="tamagotchi"> <a href="mailto:gina@ginacities.com">gina@ginacities.com</a>
        </div>
      </div>
    </div>
  </section>