---
layout: layouts/base.njk
title: GinaCities — Socials
---

<section id="devlog" class="window">
  <div class="titlebar">
    <svg class="icon pixel" aria-hidden="true"><use href="#i-games"/></svg>
    <span>Bsky feed</span>
    <div class="icons"><span class="dot"></span><span class="dot"></span><span class="dot"></span></div>
  </div>
  <bsky-embed username="ginacities.com" limit="3" load-more="true"></bsky-embed>
</section>